{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./app/styles/app.css",
  "tailwindFunctions": ["clsx", "twMerge", "cn", "cva"]
}
